/target/
/data/items/tmp/items-rc.xml
/data/items/tmp/itemsLegacy+Tulkas.xml
/data/items/tmp/itemsLegacy+TulkasIndex.xml
/data/items/tmp/itemsTulkas13.1.xml
/data/items/tmp/itemsTulkasIndex.xml
/data/items/tmp/itemsdb.xml
/data/items/items.xml
/iconIds.txt
/items.lua
/relics.xml
/traitPoints.xml
