/target/
/data/deeds/tmp
/data/emotes/tmp/emoteIcons
/data/items/tmp/items-rc.xml
/data/items/tmp/itemsLegacy+Tulkas.xml
/data/items/tmp/itemsLegacy+TulkasIndex.xml
/data/items/tmp/itemsTulkas13.1.xml
/data/items/tmp/itemsTulkasIndex.xml
/data/items/tmp/itemsdb.xml
/data/items/items.xml
/data/maps/
/data/recipes/tmp
/data/relics/tmp/relicIcons
/data/titles/tmp/titleIcons
/data/traits/tmp/traitIcons
/iconIds.txt
/items.lua
/relics*.xml
/traitPoints.xml
/tmp/
/data/items/log*.txt
/factions.xml
/stats
/itemLevelOverrideProgression
/*.props
/*.txt
/data/items/*.txt
/data/lore
/*.ods
/src/main/lua/ItemTreasury_17.1.0.zip
/data/progressions/tmp/*.xml
/*.png
/data/skills/tmp/skillIcons
/data/virtues/tmp/virtueIcons
/data/legacies/tmp/legaciesIcons
/collections
/data/effects/tmp/effectIcons
/data/mounts/tmp/mountIcons
/data/pets/tmp/petIcons
/data/misc/tmp
/launcher.xml
/data/allegiances/tmp/allegianceIcons
/*.ogg
/data/hobbies/tmp/hobbyIcons
